* {
  font-family: Helvetica;
  text-align: center;
}
#header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}
.design {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}
